<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.quxin.freshfun.dao.GoodsOrderMapper">
	<select id="queryGoodsVot" parameterType="java.lang.Long" resultType="com.quxin.freshfun.api.bean.goodsOrder.GoodsOrderOutParam">
		select goods_id as goodsId , SUM(actual_price) as totalMoney from order_datails
		where (<![CDATA[order_status>30 or order_status=30]]>) and is_deleted = 0 GROUP BY goodsId ORDER BY totalMoney
	</select>

	<select id="queryGoodsTv" parameterType="java.lang.Long" resultType="com.quxin.freshfun.api.bean.goodsOrder.GoodsOrderOutParam">
		select goods_id as goodsId , COUNT(id) as totalMoney from order_datails
		where (<![CDATA[order_status>30 or order_status=30]]>) and is_deleted = 0 GROUP BY goodsId ORDER BY totalMoney
	</select>
</mapper>