<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.quxin.freshfun.dao.GoodsOrderMapper">

	<select id="selectGoodsVot" parameterType="java.lang.Long" resultType="com.quxin.freshfun.api.bean.goodsOrder.GoodsOrderOutParam">
		select goods_id as goodsId , SUM(actual_price) as totalMoney from order_details
		where (order_status<![CDATA[>]]>30 or order_status=30) and create_date <![CDATA[>]]> #{startDate} and create_date <![CDATA[<]]> #{endDate}
		and is_deleted = 0 GROUP BY goodsId ORDER BY totalMoney LIMIT 10
	</select>

	<select id="selectGoodsTv" parameterType="java.lang.Long" resultType="com.quxin.freshfun.api.bean.goodsOrder.GoodsOrderOutParam">
		select goods_id as goodsId , COUNT(id) as totalOrder from order_details
		where (order_status<![CDATA[>]]>30 or order_status=30) and create_date <![CDATA[>]]> #{startDate} and create_date <![CDATA[<]]> #{endDate}
		and is_deleted = 0 GROUP BY goodsId ORDER BY totalOrder LIMIT 10
	</select>

</mapper>